.container{
    margin-top: 15px;
    width: 90%;
    height: 170px;
    /* margin: 0 auto; */
}
.home-channel-list{
    width: 20%;
    height: 170px;
    font-size: 12px;
    background: #5f5750;
    position: absolute;
}
.home-channel-list li{
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    
}
.home-channel-list a{
    display: block;
    padding-top: 18px;
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255,255,255,0.7);
}
.home-channel-list i{
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
}
.home-promo-list{
    width: 80%;
    height: 170px;
    float: right
}
.container img{
    width: 316px;
    height: 170px;
    margin-left: 6px;
    border:0;
    float: left;
}