.title-nav{
    width: 90%;
    height: 58px;
    line-height: 58px;
    margin: 0px auto;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 200;
}
.good-list{
    width: 90%;
    height: 340px;
    margin: 0 auto;
}
.good-list li{
    height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    background: #fafafa;
    float: left;
    width: 225px;
    margin-right: 14px;
}
.good-list img{
    width: 160px;
    height: 160px;
}
.good-list-title{
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
}
.desc{
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}
.price{
    margin: 0;
    color: #ff6709;
}
